---
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
}
const {
  title = 'ひょうひゃん | Hyouhyan',
  description = 'プログラマー、IT・インフラエンジニア、そしてオタク。どうも、ひょうひゃんです。',
} = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="Hyouhyan" />

    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <!-- OGP -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="Hyouhyan Main Page" />
    <meta property="og:locale" content="ja_JP" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:image" content="https://hyouhyan.com/img/hyouhyan.jpg" />
    <meta name="twitter:site" content="@yaa_oredayo" />

    <!-- Font Awesome (SNSアイコン) -->
    <script async src="https://kit.fontawesome.com/c4cbe28a31.js" crossorigin="anonymous" is:inline></script>
  </head>
  <body>
    <slot />
  </body>
</html>
